:root {
    /* Colors: */
      --bg: #16181d;
      --accent: hsl(222, 90%, 65%);
      --accent-10: hsl(222, 50%, 15%);
      --emphasis: #e8e8fd;
      --text: #98a0b3;
    /* Spacing */
      --spacing-xxs: 0.5em;
      --spacing-xs: 1em;
      --spacing-s: 1.5em;
      --spacing-m: 3em;
      --spacing-l: 6em;
      --spacing-xl: 8em;
    /* Misc */
      --radius-xs: 0.25em;
      --radius-s: 0.5em;
      --center-it: auto;
    }