/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  /* Colors: */
  --bg: #16181d;
  --accent: #5586f6;
  --accent-10: #131f39;
  --emphasis: #e8e8fd;
  --text: #98a0b3;
  /* Spacing */
  --spacing-xxs: 0.5em;
  --spacing-xs: 1em;
  --spacing-s: 1.5em;
  --spacing-m: 3em;
  --spacing-l: 6em;
  --spacing-xl: 8em;
  /* Misc */
  --radius-xs: 0.25em;
  --radius-s: 0.5em;
  --center-it: auto;
}

:root {
  --h1: 2.25rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --info-text: 1rem;
  --text-width-wide: 70ch;
  --text-width-medium: 60ch;
  --fw-bold: 700;
  --fw-regular: 500;
  --fw-light: 300;
}

#scroll-tracker {
  height: 4px;
  background-color: var(--accent);
  position: fixed;
  inset: 0 0 auto;
  transform-origin: left;
}

body {
  background-color: var(--bg);
  font-family: 'Inter', sans-serif;
}

main {
  margin-top: var(--spacing-xl);
  padding-block: var(--spacing-m);
}

article {
  margin: var(--center-it);
  max-width: var(--text-width-wide);
}

article > p ~ p {
  margin-bottom: var(--spacing-s);
}

h1 {
  color: var(--emphasis);
  margin-bottom: var(--spacing-s);
  font-size: var(--h1);
  font-weight: var(--fw-bold);
}

h2 {
  color: var(--emphasis);
  margin-bottom: var(--spacing-s);
  margin-top: var(--spacing-m);
  font-size: var(--h2);
  font-weight: var(--fw-bold);
}

h3 {
  color: var(--accent);
  margin-bottom: var(--spacing-s);
  font-size: var(--h3);
  font-weight: var(--fw-bold);
}

p {
  font-size: var(--paragraph);
  color: var(--text);
  line-height: 32px;
  letter-spacing: 0.25px;
}

em {
  color: var(--emphasis);
}

cite {
  font-weight: var(--fw-light);
  color: var(--emphasis);
  font-style: italic;
}

.info_block {
  display: flex;
  gap: 6px;
  margin-bottom: var(--spacing-xs);
}

.info {
  font-size: var(--info-text);
  color: var(--text);
}

.likes, .replies, .mentions {
  font-size: var(--info-text);
  color: var(--accent);
}

.last_update {
  display: inline-block;
  background-color: var(--accent-10);
  color: var(--accent);
  margin-bottom: var(--spacing-l);
  font-size: var(--info-text);
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--radius-s);
}

.link {
  color: var(--accent);
  cursor: pointer;
}

img {
  width: 100%;
  margin-block: var(--spacing-m);
  border-radius: var(--radius-xs);
}

.highlight {
  margin: var(--center-it);
  margin-bottom: var(--spacing-m);
  background-color: var(--accent-10);
  max-width: var(--text-width-wide);
  border-radius: var(--radius-s);
  padding: var(--spacing-m);
}

ul {
  margin: var(--spacing-s);
}

li {
  padding-bottom: var(--spacing-s);
  margin-left: var(--spacing-xs);
  font-size: var(--paragraph);
  color: var(--emphasis);
  list-style: square;
}

.centered_text_content {
  text-align: center;
}

footer > p {
  text-align: center;
}

.homepage_links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  justify-content: center;
}

@media screen and (max-width: 760px) {
  body {
    padding-inline: var(--spacing-s);
  }
  #scroll-tracker {
    display: none;
  }
  .info_block {
    flex-direction: column;
  }
  .highlight {
    padding: var(--spacing-s);
    max-width: var(--text-width-wide);
  }
}
